<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <!--appSettings>
    <add key ="InfoOnConsole" value ="false" />
    <add key ="DebugOnConsole" value ="false" />
    <add key ="AutoFlushWait" value ="1000" />    
    <add key ="LogFolderPath" value ="log2" />
  </appSettings-->
  
</configuration>